nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:blue;
    color: white;
}

.shop-item {
    color: white;
}

.cart-icon {
    color: white;
}

.nav-link{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
img{
    max-width: 200px;
}
.shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 30px;
    gap:30px;
}
.card{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}